<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="author" content="Bamilosin Daniel Eniola">
    <meta name="keywords" content="Iris, Bamilosin, Iris plant, sepal, petal">
    <meta name="revised" content="Bamilosin, 26th December 2023, 4AM">
    <meta property="og:title" content="IRIS PROPHET">
    <meta property="og:description" content="Iris identity crisis? Solved! This AI whisperer speaks the language of petals, revealing your flower's true name.">
    <meta property="og:url" content="https://irisprophet.up.railway.app/predict">
    <meta property="og:image" content="https://ars.els-cdn.com/content/image/3-s2.0-B9780128147610000034-f03-01-9780128147610.jpg">
    <meta property="og:image:alt" content="An iris flower with the sepals and petals labelled. Jesus loves you &lt;3" >



    <link rel="stylesheet" href="{{url_for('static', path='/styles.css')}}">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Iris Prophet</title>
</head>
<body>
    <div class="container">
        <img src="/static/img/iris_info.jpeg" alt="The picture of an iris plant with the label of its petals and sepals">

        <h1>* IRIS PROPHET *</h1>
        
        <h3>This ML model predicts what species an Iris plant is, based on the parameters below</h3>
        
        <form action="/predict", method="post">
            <label for="sepal_length">Sepal Length(cm)</label>
            <br>
            <input type="text", id="sepal_length", name="sepal_length">
            <br>
            <label for="sepal_width">Sepal Width(cm)</label>
            <br>
            <input type="text", id="sepal_width", name="sepal_width"s>
            <br>
            <label for="petal_length">Petal Length(cm)</label>
            <br>
            <input type="text", id="petal_length", name="petal_length">
            <br>
            <label for="petal_width">Petal Width(cm)</label>
            <br>
            <input type="text", id="petal_width", name="petal_width">
            <br>
            <input type="submit" value="Predict" class="btn">
        </form>

        <h3 id="predict">{{prediction}} <span id="error">{{error_message}}</span></h3>
    
    </div>

    <footer class="container">
        <h5>created by Bamilosin Daniel</h5>
        <h6>&copy;2023 BAMS</h6>
    </footer>
</body>
</html>