<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', path='/styles.css')}}">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Iris Prophet</title>
</head>
<body>
    <div class="container">
        <h1>IRIS PROPHET</h1>
        <h3>This ML model predicts what species an Iris plant is, based on the parameters below</h3>
        <form action="/predict", method="post">
            <label for="sepal_length">Sepal Length(cm)</label>
            <br>
            <input type="text", id="sepal_length", name="sepal_length">
            <br>
            <label for="sepal_width">Sepal Width(cm)</label>
            <br>
            <input type="text", id="sepal_width", name="sepal_width"s>
            <br>
            <label for="petal_length">Petal Length(cm)</label>
            <br>
            <input type="text", id="petal_length", name="petal_length">
            <br>
            <label for="petal_width">Petal Width(cm)</label>
            <br>
            <input type="text", id="petal_width", name="petal_width">
            <br>
            <input type="submit" value="Predict" class="btn">
        </form>

        <h3 id="predict">{{prediction}} <span id="error">{{error_message}}</span></h3>

        <h5>created by Bamilosin Daniel</h5>
        <h6>&copy;2023 BAMS</h6>
    </div>
</body>
</html>